[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
isort = "*"
flake9 = "*"
black = "*"
pre-commit = "*"
flake8 = "*"
pytest = "*"
[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"